// Here you can add other styles
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #43425D;
    border-color: #43425D;
}
a {
    color: #43425D;
    text-decoration: none;
    background-color: transparent;
}
.sidebar .nav-link:hover {
    color: #fff;
    background: #696791;
}
.sidebar .nav-link:hover .nav-icon{
    color:#212032;
}
.sidebar .nav-link .nav-icon {
    color: #696791;
}
.sidebar .nav-link.active .nav-icon {
    color: #212032;
}
.sidebar .nav-link.active {
    color: #fff;
    background: #696791;
}
.sidebar-minimized .sidebar .nav-item:hover > .nav-link {
    background: #696791;
}

.sidebar-minimized .sidebar .nav-item:hover > .nav-link .nav-icon {
    color: #212032;
}
.badge-info {
    color: #23282c;
    background-color: #696791;
}
